[submodule "external/sepVector"]
	path = external/sepVector
	url =  http://zapad.Stanford.EDU/bob/sepVector.git
[submodule "external/json"]
	path = external/json
	url = http://zapad.Stanford.EDU/bob/json.git
[submodule "external/buffers"]
	path = external/buffers
	url = http://zapad.Stanford.EDU/bob/buffers.git
